<div class="form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, as: :hidden %>
    <%= f.input :description %>
    <%= f.submit "Submit", class: "btn btn-ghost" %>
  <% end %>
</div>
