<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("buriov7xose2s4gy5pqz")%>);">
  <div class="container">
    <h1>Description!</h1>
  </div>
</div>
