<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("cgsuwxtzrxomjn7nftf8")%>);">
  <div class="container">
    <h1>Ajoute un ingredient</h1>
  </div>
</div>
